
        .style2 {
            font-family: Verdana;
            color: Black;
            font-size: 10PX;
            width: 129px;
            border-bottom: solid 1px black;
        }

        .style3 {
            width: 335px;
        }

        .style5 {
            width: 400px;
        }

        .style4 {
            width: 609px;
        }

        .style8 {
            font-family: Verdana;
            color: Black;
            font-size: 10PX;
            width: 109px;
            height: 12px;
        }

        .style10 {
            width: 100%;
        }

        .style13 {
            height: 37px;
            width: 751px;
        }

        .style14 {
            width: 313px;
        }

        .style15 {
            height: 18px;
            width: 829px;
        }

        .style16 {
            font-family: Verdana;
            color: Black;
            font-size: 13PX;
            height: 12px;
        }

        .style18 {
            font-family: Verdana;
            color: Black;
            font-size: 10PX;
            width: 129px;
            border-bottom: solid 1px black;
            height: 21px;
        }

        .style19 {
            height: 21px;
        }

        .style20 {
            width: 272px;
        }

        .style23 {
            width: 271px;
        }

        .style24 {
            width: 314px;
        }